<div class="container">
  <div class="row">
    <div class="col-lg main">
      <h3 class="mb-2">Edit List</h3>

      <!-- edit form to edit each todo -->

      <form [formGroup]="listForm">
        <input type="number" hidden formControlName="id" />

        <div style="margin-bottom: 15px">
          <label for="title" class="form-label">title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="title"
            formControlName="title"
            autocomplete="off"
          />
          <div
            *ngIf="
              listFormValidate.title.invalid &&
              (listFormValidate.title.dirty || listFormValidate.title.touched)
            "
          >
            <small *ngIf="listFormValidate.title.errors?.required"
              >title required</small
            >
            <small *ngIf="listFormValidate.title.errors?.minlength"
              >title must be at least 4 chars</small
            >
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <label for="description" class="form-label">description</label>
          <textarea
            class="form-control"
            placeholder="write your desc here"
            id="description"
            rows="3"
            formControlName="description"
            autocomplete="off"
          ></textarea>
          <div
            *ngIf="
              listFormValidate.description.invalid &&
              (listFormValidate.description.dirty ||
                listFormValidate.description.touched)
            "
          >
            <small *ngIf="listFormValidate.description.errors?.required"
              >description required</small
            >
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <label for="status" class="form-label">Status</label>
          <select
            id="status"
            class="form-select"
            aria-label="Default select example"
            formControlName="status"
            type="number"
          >
            <option selected disabled>select status</option>
            <option value="0">Pending</option>
            <option value="1">Done</option>
            <option disabled value="2">Missed</option>
          </select>
          <div
            *ngIf="
              listFormValidate.status.invalid &&
              (listFormValidate.status.dirty || listFormValidate.status.touched)
            "
          >
            <small *ngIf="listFormValidate.status.errors?.required"
              >status required</small
            >
          </div>
        </div>

        <div style="margin-bottom: 15px">
          <label for="deadline" class="form-label">deadline</label>
          <input
            class="form-control"
            placeholder="deadline date"
            id="deadline"
            type="date"
            formControlName="deadline"
          />
          <div
            *ngIf="
              listFormValidate.deadline.invalid &&
              (listFormValidate.deadline.dirty ||
                listFormValidate.deadline.touched)
            "
          >
            <small *ngIf="listFormValidate.deadline.errors?.required"
              >deadline required</small
            >
          </div>
        </div>

        <!-- submit edited todo -->

        <button
          type="submit"
          class="btn"
          [disabled]="listForm.invalid"
          (click)="onUpdate()"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</div>
