<!-- <div class="container">
  <nav>
    <ul>
      <li>
        <a routerLink="/"
          ><img
            style="width: 40px"
            class="logo"
            src="../../../../assets/studying.svg"
        /></a>
      </li>
      <li>
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          aria-current="page"
          routerLink="/"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="addToDo"
          >Add ToDo</a
        >
      </li>

      <a href="#" id="menu-icon"></a>
    </ul>
  </nav>
</div> -->

<!-- efregbfgcb -->

<!-- <div class="container">
  <div id="navigation-bar">
    <nav>
      <ul>
        <li>
          <a routerLink="/" id="logo"
            ><img
              style="width: 20px"
              class="logo"
              src="../../../../assets/studying.svg"
          /></a>
        </li>
        <li>
          <a
            class=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li>
          <a class="" routerLinkActive="active" routerLink="addToDo"
            >Add ToDo</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<!-- rfvdg bfv  -->

<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <label class="logo"><a routerLink="/">ToDo</a></label>
  <ul>
    <li>
      <a
        class=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-current="page"
        routerLink="/"
        >Home</a
      >
    </li>
    <li>
      <a class="" routerLinkActive="active" routerLink="addToDo">Add ToDo</a>
    </li>
  </ul>
</nav>
