<div class="container">
  <!-- search in todos -->

  <form [formGroup]="searchForm">
    <div class="input-group">
      <label class="input-group__label" for="search">search </label>
      <input
        type="search"
        id="search"
        class="form-control"
        placeholder="search"
        aria-label="search"
        autocomplete="off"
        aria-describedby="icon"
        formControlName="search"
      />
    </div>
  </form>
  <section>
    <div class="row">
      <div class="col-lg">
        <h3 style="margin-bottom: 10px">ToDo Lists</h3>
        <div *ngIf="listsStore">
          <!-- show all todo lists -->

          <div
            class="input-group"
            *ngFor="
              let list of (listsStore2 | async).todo | slice: start:end;
              let i = index
            "
          >
            <div class="input-group-text">
              <input
                type="checkbox"
                (change)="toggleVisibility($event, list.id)"
                [checked]="list.complete == true"
              />
            </div>

            <!-- todo sample with unoreder list -->

            <ul class="list-group">
              <li
                class="list-group-item"
                style="cursor: pointer"
                (click)="onEdit(list.id)"
              >
                <span hidden>{{ list.id }}</span>
                <div style="margin-right: auto; margin-left: 10px">
                  <div
                    [style.text-decoration]="
                      list.status == 1 ? activeLinkStyle : null
                    "
                    style="font-weight: bold"
                  >
                    {{ list.title }}
                  </div>
                  {{ list.description }}
                </div>

                <div class="status">
                  <span
                    class="badge"
                    [ngStyle]="{
                      'background-color': 'blue'
                    }"
                    *ngIf="list.status === 0"
                    >pending</span
                  >
                  <span
                    class="badge"
                    [ngStyle]="{
                      'background-color': 'blue'
                    }"
                    *ngIf="list.status === 1"
                    >done</span
                  >
                  <span
                    class="badge"
                    [ngStyle]="{
                      'background-color': 'blue'
                    }"
                    *ngIf="list.status === 2"
                    >missed</span
                  >
                  <span class="">{{ list.deadline | date }}</span>
                </div>
              </li>
            </ul>

            <!-- delete button -->

            <span
              (click)="onDelete(list.id)"
              style="
                font-size: 30px;
                cursor: pointer;
                margin-top: inherit;
                margin-left: 10px;
              "
              aria-hidden="true"
              >&times;</span
            >
          </div>
        </div>

        <!-- if no todos return -->

        <div *ngIf="!listsStore">
          <h4 style="letter-spacing: 2px; font-weight: 500">
            No ToDos Please Add Some 💛🖤
          </h4>
        </div>

        <!-- pagination -->

        <div *ngIf="listsStore">
          <ul style="margin: 10px auto" class="pagination">
            <li class="prev"><a>&laquo;</a></li>
            <li
              *ngFor="let todo of numberArray(listsStore.length); let i = index"
              class="pageNum"
              (click)="changeNumber(i)"
            >
              <a>{{ i + 1 }}</a>
            </li>
            <li class="next"><a>&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
